@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(178, 207, 121);
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    margin: 0
}

.container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 1px 1px grey;
    width: 300px;
    max-width: 100%
}

.contact_title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px
}

.contact_title h2 {
    margin: 0;
}

.form {
    padding: 30px 40px
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative; 
}

.form-control input {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px
}

.form-control.success input{
    border-color: #2ecc71
}

.form-control.error input{
    border-color: #e74c3c
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control i {
    position: absolute;
    top: 25px;
    right: 8px;
    visibility: hidden
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    position: relative;
    bottom: 5;
    left: 10;
    visibility: hidden;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}


.form button {
    background-color:  rgb(178, 207, 121);
    border: 2px solid rgb(178, 207, 121);
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
}

.radio-inline {
    padding: 5px;
    position: relative;
} 

.selectors {
    display: flex;
}

.checkbox {
    display: flex;
}

select#countryid {
    max-width: 180px;
    min-width: 180px;
    width: 180px !important;
    height:20px;
    text-align-last:center
}
select#days {
    max-width: 55px;
    min-width: 55px;
    width: 55px !important;
    height:20px;
    text-align-last:center
}

select#months {
    max-width: 55px;
    min-width: 55px;
    width: 55px !important;
    height:20px;
    text-align-last:center
}

select#years {
    max-width: 70px;
    min-width: 70px;
    width: 70px !important;
    height:20px;
    text-align-last:center
}

.five-info, .form-register {
    font-size: 12px;
    color: red;
}

.newsletter, .specialofferts, .street-address-text, .apartment-text {
    font-size: 14px;
    color: rgb(90, 88, 88);
}




